body {
    margin: 0;
    overflow: hidden;
}

.meat, .bread, .asian, .desert, .fruits, .vegetables {
    font-size: 50px; 
    transform-origin: center center;
    transform: scale(1.5);
}

.btn-primary {
    box-shadow: 0 4px 10px rgba(0, 20, 0, 10);
  }
  


