.view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.card-title {
    text-align: center;
    margin-bottom: 16px; 
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
}
  
.card {
    width: 600px;
    margin: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.left {
    flex:1;
    width: 50%;
    padding: 16px;
    border-right: 1px solid #000000;
    box-sizing: border-box;
    justify-items: center;
    align-content: center;
}

.right {
    flex:1;
    width: 50%;
    padding: 16px;
}

.seperation {
    display: flex;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    padding-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 8px;
}

.ingredients-title {
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
    margin-bottom:10px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62);  
}

.recipe-description {
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
    margin-bottom:-20px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62);  
}

.card-text-center{
    border: 1px solid #000000;
    border-radius: 8px;
    text-align: center;
}

.ingredients-list {
    text-align: center;
}