body {
  margin: 0;
}

.main-screen {
  height: 100vh; 
  padding: 20px; 
}

.main-nav {
  justify-content: center; 
  margin-top:10px;
  position: fixed;
  display: flex;
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
  padding: 25px;
  z-index: 100;
  border: 2px solid #000;
  border-radius: 40px;
}

.header {
  font-family: 'Rubik', sans-serif;
  margin-left:20px;
  margin-right:20px;
  font-size: 17px; 
}

.main-nav a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.main-nav a:hover {
  background-color: #8b8b8b;
}
