.view {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }

.card-title {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
    display: grid;
    justify-items: center;
}
  
.card {
    width: 600px;
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: rgb(249, 246, 246);
    box-shadow: 5px 5px 10px 2px #b8b7b7;
    margin-left: 40px;
    margin-bottom: 30px;
}

.recipe-title{
    border-radius: 20px; 
    border: 2px solid black; 
    margin-bottom:15px;
    text-align: center;
    height: 40px; 
    margin-right:20px;
    font-family: 'Rubik', sans-serif;
    font-size: 26px; 
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box; 
}

.separation {
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
}

.left, .right {
    flex: 1; 
    padding: 16px;
    box-sizing: border-box;
}

.left {
    border-right: 1px solid #000; 
}

.buttons {
    margin-top: 16px; 
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    padding-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 8px;
}

.ingredients-title {
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
    height:30px;
    margin-bottom:10px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62);  
}

.recipe-description {
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
    border-radius: 50px; 
    width:250px;
    text-align: center;
    border: 2px solid rgb(67, 62, 62); 
    margin-bottom:-10px; 
}

.card-text-center{
    border: 1px solid #000000;
    border-radius: 8px;
    text-align: center;
}

.recipe-category{
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
    border: 2px solid #000000;
    border-radius: 20px;
    text-align: center;
    margin-bottom:10px;
}

.card-text{
    padding:20px;
    margin-top:10px;
    border: transparent;
    text-align: center;
}

.ingredients-list {
    text-align: center;
    padding: 0px;
}

.image:hover{
    cursor:pointer;
}

.ingredients-list:hover,
.recipe-description:hover,
.card-text:hover,
.recipe-title:hover,
.card-text:focus,
.recipe-category:hover,
.modal-button:hover{
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 50px;
}

.top-view{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%; 
    background-color: #f8f8f8;
}

.filter {
    position: sticky;
    top: 50%;
    left: 0;
    padding: 10px;
    z-index: 3; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-top:100px;
}

.add-recipe{
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-family: 'Rubik', sans-serif;
    font-size: 15px; 
    margin-bottom:10px;
    font-size: 18px; 
    width:150px;
    height:70px;
}

.filter-box{
    margin:25px;
}

.modal-button,
.modal-save {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 500px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-family: 'Rubik', sans-serif;
    font-size: 15px; 
    margin-bottom:10px;
    width:150px;
    height:50px;
}

.modal-close {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 500px;
    cursor: pointer;
    background-color: #cd6d6d;
    border: 1px solid #000000;
    color: #333;
    font-family: 'Rubik', sans-serif;
    font-size: 15px; 
    margin-bottom:10px;
    width:150px;
    height:50px;
}

.ingredients-checked{
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
    text-align: center;
    height:30px;
    margin-bottom:10px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62); 
}

.list-ingredients-checked{
    text-align: center;
    border-bottom : 1px solid #000000;
}

.list-group-item{
    text-align: center;
}

