body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body covers the full height of the viewport */
  
}

.background {
  width: 80%;
  display: flex;
  padding:25px;
  background:#c5c5e0;
  border-radius: 50px;
  align-items: center;
}

.top {
  height: 100vh;
  justify-content: center;
  flex: 1;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(214deg, rgba(200,147,138,1) 0%, rgba(182,184,233,1) 100%);
}

.left-side {
  width: 300px; /* Adjust the width as needed */
  padding: 20px; /* Adjust the padding as needed */
  border-right: 1px solid #ccc; /* Add a border to separate left and right sides */
  flex-direction: column;
  background-color: #D5C8D7;
  border-radius: 15px; 
  margin: 10px;
}

.right-side {
  flex: 1; 
  padding: 20px; 
  background-color: #D5C8D7;
  border-radius: 15px; 
  margin: 10px;
}

/* Add additional styling for input, textarea, and button as needed */
.recipe-name,
.description,
.instructions {
  width: 100%;
  margin-bottom: 10px;
}

.form-check-input {
  position: relative;
  width: 15px; 
  height: 15px; 
  margin-right: 5px; 
  appearance: none;
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  outline: none;
  cursor: pointer;
}

.form-check-input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px; 
  height: 15px; 
  background-color: #D36A60; 
  border-radius: 2px; 
  opacity: 0; 
  transition: opacity 0.1s ease-in-out;
}

.form-check-input:checked::before {
  opacity: 1;
}

.accordion {
  color: #333;
  background-color: #fff;
  transition: all 0.15s ease-in-out;
  border-color: rgba(0, 0, 0, 0.125);
  border-width: 1px;
  border-radius: 4px;
}

.accordion-button {
  padding: 1rem 1.25rem;
  color: #0f0e0e;
  background: linear-gradient(214deg, rgba(244,200,167,1) 0%, rgba(236,208,199,1) 25%, rgba(182,184,233,1) 100%);
}

.accordion-button::after {
  width: 1.25rem;
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#333'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  transition: transform 0.2s ease-in-out;
}
.accordion-button.active {
  background-color: #dca26e;
  color: #0f0e0e;
  box-shadow: 0 0 0 0.2rem #F0B0AB;
}
.accordion-collapse {
  border-width: 1px;
  border-radius: 3px; /* Adjust as needed */
  overflow: hidden;
}

.accordion-body {
  padding: 1rem 1.25rem;
  background: linear-gradient(214deg, rgba(200,147,138,1) 0%, rgba(182,184,233,1) 100%);
  color: #F0B0AB !important;
}

.recipe-name,
.description,
.instructions {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(241deg, rgba(234,198,187,1) 0%, rgba(215,184,187,1) 25%, rgba(194,184,215,1) 100%);
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #b19ede;
}

.title {
  background-color: #B8B7E7;
  border: 1px solid #d0a39f; 
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

.recipe-name:hover,
.description:hover,
.instructions:hover {
  background-color: #EBB8B5 !important;
}


