.main-section {
    display: flex;
    margin-top:100px;
}

.category-filter {
    position: sticky;
    top: 50%;
    left: 0;
    padding: 10px;
    z-index: 3; 
}

.ingredient-card {
    border: 2px solid #000;
    border-radius: 50px;
    margin: 10px;
    min-width: 500px;
    z-index: 1;
}

.filter-text {
    margin-top:15px;
    margin-bottom:10px;
    font-family: 'Rubik', sans-serif;
    font-size: 17px; 
}

.filter-box {
    width: 200px;
    border: 2px solid #000;
    border-radius: 40px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.ingredient-table,
.categories-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 1; 
}

  .ingredient-cards-container,
  .category-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px; 
    z-index: 1;
  }
  
  
.choice {
    border: 2px solid #000;
    border-radius: 50px;
    width: 130px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px; 
}

.check {
    margin-right: 10px;
}

.confirm,
.decrement,
.increment,
.delete,
.cancel,
.add-ingredient,
.add-category {
    margin-right: 10px;
    padding: 6px 12px;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-family: 'Rubik', sans-serif;
    font-size: 15px; 
}

.confirm,
.cancel {
    margin-top:10px;
}
  
.add-ingredient,
.add-category {
    margin-bottom:10px;
    font-size: 18px; 
    width:150px;
    height:70px;
}

.confirm:hover,
.decrement:hover,
.increment:hover,
.delete:hover,
.cancel:hover,
.add-ingredient:hover,
.add-category:hover,
.ingredient-name:hover,
.ingredient-quantity:hover,
.ingredient-stock-type:hover,
.ingredient-category:hover,
.category-name:hover {
    background-color: #f0f0f0; 
    cursor: pointer;
}

body {
    font-family: 'Rubik', sans-serif;
}

.ingredient-name,
.category-name {
    border-radius: 20px; 
    border: 2px solid black; 
    margin-bottom:15px;
    text-align: center;
    height: 40px; 
    margin-right:20px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px; 
}

.ingredient-info {
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    display: flex;  
    margin-bottom: 10px;
}

.title-card{
    font-family: 'Rubik', sans-serif;
    font-weight: semi-bold;
    font-size: 16px; 
    margin-bottom: 10px;
}

.ingredient-quantity{
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(67, 62, 62);  
    margin-right: 10px; 
    width:50px;
    height: 30px;
    margin-bottom: 10px;
}

.ingredient-stock-type {
    text-align: center;
    margin-right: 10px; 
    width: 80px;
    margin-bottom: 10px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62);  
    padding: 5px; 
}

.ingredient-category {
    text-align: center;
    margin-right: 10px; 
    width: 100px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62);  
    padding: 5px; 
}

.category-info {
    margin-left: 10px;
    display: flex;  
    margin-bottom: 10px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62);  
    padding:25px;
}

.category-id,
.category-name,
.delete {
    margin-right: 10px; 
}

.delete {
    margin-left: 10px;
}

.right-section-category {
    display:grid;
    justify-items: center;
    align-content: center;
}

.left-section {
    display:grid;
    justify-items: center;
    align-content: center;
}

.ingredient-url{
    margin-left: 10px;
    display: flex;  
    min-width:250px;
    margin-bottom: 10px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62);  
}

.choicebox-category{
    min-width:130px;
    height:40px;
    text-align: center;
    margin-right: 10px; 
    width: 80px;
    margin-bottom: 10px;
    border-radius: 50px; 
    border: 2px solid rgb(67, 62, 62);  
    padding: 5px; 
}
  
.image:hover {
    cursor: pointer;
}


