.background {
  width: 80%;
  display: flex;
  padding:25px;
  border-radius: 50px;
  align-items: center;
}

.top {
  height: 100vh;
  justify-content: center;
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.bottom-part {
  justify-content: center;
  flex: 1;
}

.choiceBox {
  width: 100%;
  margin-bottom: 2px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.choiceBox:hover {
  color: white;
  background-color: black;
  border-color: black;
}

.choiceBox:focus {
  outline: none;
  color: white;
  background-color: black;
  border-color: black;
}

.submit {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.submit:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.submit:focus {
  outline: none;
  background-color: black;
  color: white;
  border-color: black;
}


.left-side {
  width: 400px; 
  padding: 20px;
  flex-direction: column;
  border-radius: 0px; 
  margin: 10px;
}

.right-side {
  flex: 1; 
  padding: 20px; 
  border-radius: 15px; 
  margin: 10px;
}

.recipe-name,
.description,
.instructions {
  width: 100%;
  margin-bottom: 10px;
}

.recipe-name,
.description,
.instructions {
  width: 100%;
  margin-bottom: 2px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  overflow: hidden;
  resize: none; 
}

.recipe-name:hover,
.description:hover,
.instructions:hover {
  color: white;
  background-color: black;
  border-color: black;
}

.recipe-name:focus,
.description:focus,
.instructions:focus {
  outline: none; 
  color: white;
  background-color: black;
  border-color: black;
}

.recipe-name {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.title {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

.form-check-input {
  position: relative;
  width: 15px; 
  height: 15px; 
  margin-right: 5px; 
  appearance: none;
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  outline: none;
  cursor: pointer;
}

.form-check-input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px; 
  height: 15px; 
  border-radius: 2px; 
  opacity: 0; 
  transition: opacity 0.1s ease-in-out;
}

.form-check-input:checked::before {
  opacity: 1;
}

.accordion {
  color: #333;
  background-color: #fff;
  transition: all 0.15s ease-in-out;
  border-color: rgba(0, 0, 0, 0.125);
  border-width: 1px;
  border-radius: 4px;
}

.accordion-button {
  padding: 1rem 1.25rem;
  color: #0f0e0e;
}

.accordion-button::after {
  width: 1.25rem;
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#333'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  transition: transform 0.2s ease-in-out;
}
.accordion-button.active {
  background-color: #dca26e;
  color: #0f0e0e;
  box-shadow: 0 0 0 0.2rem #F0B0AB;
}
.accordion-collapse {
  border-width: 1px;
  border-radius: 3px;
  overflow: hidden;
}

.accordion-body {
  padding: 1rem 1.25rem;
  color: #F0B0AB !important;
}

body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 350px;
  padding: 10px;
  
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th,
    td {
      border: 0;
    }
  }
  th,
  td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th,
    td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  margin: 0 0 0.5rem 0;
  border-bottom: 1px solid black;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th,
  td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}
.accordion-body {
  border-radius: 0px;
}

.accordion-button {
  border-bottom: 1px solid black;
}


