body {
  margin: 0;
}

.main-screen {
  height: 100%; 
  padding: 20px; 
  margin-top: 90px;
  background-color: #f8f8f8; 
}

.main-nav {
  justify-content: center; 
  margin-top:10px; 
  position: fixed;
  display: flex;
  background-color: #e6e6e6;
  top: 0;
  width: 100%;
  padding: 15px;
  z-index: 100;
  border: 2px solid #000;
  border-radius: 40px;
}

.main-nav a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  padding-left:10px;
  padding-right:10px;
  margin:5px;
  border-radius: 50px;
  border: 2px solid transparent; 
}

.main-nav a:hover {
  border: 2px solid #000;
}


.header {
  font-family: 'Rubik', sans-serif;
  margin-left:20px;
  margin-right:20px;
  font-size: 17px; 
}

.recipes {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.scene {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%; 
  background-color: #f8f8f8;
  margin: 0px;
}