$accordion-button-active-bg:              #DC877F;
$accordion-button-active-color:           #0f0e0e;
$accordion-button-focus-box-shadow:       0 0 0 0.2rem #DC877F;

$list-group-color:                  #0f0e0e;
$list-group-bg:                     #EDDBD8;

$list-group-hover-bg:               #f1c9c2;
$list-group-active-color:           #0f0e0e;
$list-group-active-bg:              #EDDBD8;
$list-group-active-border-color:    #0f0e0e;

$list-group-border-color:           #c9bcb9;

$list-group-action-active-color:    #fccabf;
$list-group-item-color-scale:       0%;


@import '~bootstrap/scss/bootstrap.scss';


