
$accordion-button-active-color:           #0f0e0e;
$list-group-color:                  #0f0e0e;
$list-group-active-color:           #0f0e0e;
$list-group-active-border-color:    #0f0e0e;
$list-group-item-color-scale:       0%;

$accordion-button-color:                  #0f0e0e;
$accordion-button-bg:                     #ffffff;
$accordion-button-active-bg:              #ffffff;
$accordion-button-active-color:           #0f0e0e;
$accordion-color:                         #FAFAFA;
$accordion-bg:                            #FAFAFA;
$accordion-border-radius:                 0;

@import '~bootstrap/scss/bootstrap.scss';


