
$accordion-button-active-color:           #0f0e0e;
$list-group-color:                  #0f0e0e;
$list-group-active-color:           #0f0e0e;
$list-group-active-border-color:    #0f0e0e;
$list-group-item-color-scale:       0%;


@import '~bootstrap/scss/bootstrap.scss';


